<div class="lnb">
    <div class="clrFix">
        <div class="menuSet category">
            <p class="tit">CATEGORY</p>
            <ul class="menu">
                {% for category in categorys%}
                <li><a href="/category/{{category.name}}">- {{category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="menuSet recent">
            <p class="tit">RECENT</p>
            <ul class="menu">
                {% for recent in recents %}
                <li><a href="/{{recent.id}}">- {{recent.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="menuSet tag">
        <p class="tit">TAG</p>
        <div class="tags">
            <!--<p class="tag">tes</p>
            <p class="tag">test</p>
            <p class="tag">파이썬</p>
            <p class="tag">파이썬은 망해ㅆㅇ</p>
            <p class="tag">Node.js</p>
            <p class="tag">데이터시각화</p>-->
        </div>
    </div>
</div>